.box-shadow {
  box-shadow: 0px 0px;
}

/* .header {
  background-color: #006078;
} */

/* .side-bar-list li:not(:last-child) {
  border-bottom: 1px solid black;
} */

td {
  font-size: small;
}
.animated-btn-container {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  margin-right: 12px;
}
.line1,
.line2,
.line3 {
  width: 35px;
  height: 5px;
  border-radius: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  pointer-events: none;
}

.change .line1 {
  transform: scale(0.6, 1) translate(0, 5.5px) rotate(20deg);
}

.change .line2 {
  transform: scale(0.9, 1) translate(-9px, 0);
}

.change .line3 {
  transform: scale(0.6, 1) translate(0, -5.5px) rotate(-20deg);
}

.open {
  transform: translate(-266px, 0);
  transition: transform 0.4s;
}

.closed {
  transition: transform 0.4s;
}

button:disabled,
button[disabled],
select:disabled,
select[disabled],
input:disabled,
input[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

td {
  overflow-x: hidden;
}

* {
  transition: color 0.2s ease-in, background 0.5s ease-in;
  transition-delay: 0s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(151, 151, 151);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #006078;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #014d61;
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: 0px 0px 7px #006078;
}
